/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
/* #Layout CSS
================================================== */

body{
	background-color: #FFFFFF;
}

#wrap-header{
	background-color: #F0F1F2;
	border-bottom: 1px solid #DBDBDB;
}

#contenedor-logo{
	padding: 10px;
}
#contenedor-logo img{
	margin: 0;
}

#contenedor-login{
	background-color: #00CAF7;
	border-bottom: 1px solid #00ADD4;
	border-left: 1px solid #00ADD4;
	padding: 5px;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

#contenedor-login table td{
	padding: 2px;
	margin: 0;
}

#contenedor-login input[type="text"],#contenedor-login input[type="password"]{
	height: 10px;
	width: 90%;
	margin: 0;
}

#contenedor-login input[type="submit"]{
	height: 25px;
	width: 100%;
	margin: 0px;
	padding: 5px;
}

#quees h2, #features h2{
	margin:0;
	padding: 10px 0px 10px 0px;
	color: #F58704;
	font-size: 28px;
	text-align: justify;
	font-family: 'Noto Sans', sans-serif;
	line-height: 25px;
}

#registro{
	background-color: #F4F4F4;
	border-top: 1px solid #E3E3E3;
	color: #F7941D;
	font-size: 20px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
}

#registro h2{
	margin:0;
	padding: 10px 0px 10px 0px;
	color: #00B1D9;
	font-size: 34px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

#regform{
	margin:0 auto 0 auto;
	text-align: left !important;
}

#regform input{
	width: 100%;
	height: 30px;
	font-size: 18px;
}

